aside {
    height: 100dvh;
    width: 64px;
    border-right: 2px solid #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px ;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    height: 64px;
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.sidebar ul li:hover{
    background-color: #1e1e1e;
    border-right: 2px solid white;

}


.sidebar ul li:not(:last-child) {
    height: 64px;
    border-bottom: 2px solid #1e1e1e;

}