main {
    margin-top: 48px;
    width: 100%;
    min-height: calc(100dvh - 48px);
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}



