nav {
    z-index: 1;
    background: #121212;
    min-height: 48px;
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(43, 43, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    color: white;
}

nav .center {
    display: flex;
}




nav  a {
    text-align: center;
    min-width: 128px;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

nav .center a:not(:last-child) {
    border-right: 1px solid #bbbbbb;
}

nav .center a:hover {
    color: #ffffff;
    font-weight: bold;
}

nav  .logo {
    font-size: 28px;
    font-weight: bold;
    color: #e91e63;
    border-right: none;

}

.login-btn {
    color: white;
    width: 128px;
    height: 40px;
    align-items: center;
    background-color: transparent;
    border: 4px solid #e91e63;
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.login-btn:hover,
.login-btn:focus {

    background-color: #e91e63;

}