nav {
    z-index: 1;
    background: #121212;
    min-height: 48px;
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(43, 43, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    color: white;
}

nav .center {
    display: flex;
}




nav a {
    text-align: center;
    min-width: 128px;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

nav .center a:not(:last-child) {
    border-right: 1px solid #bbbbbb;
}

nav .center a:hover {
    color: #ffffff;
    font-weight: bold;
}

nav .logo {
    font-size: 28px;
    font-weight: bold;
    color: #e91e63;
    border-right: none;

}

.login-btn {
    color: white;
    width: 128px;
    height: 40px;
    align-items: center;
    background-color: transparent;
    border: 4px solid #e91e63;
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.login-btn.solid{
    background-color: #e91e63;
  
}

.login-btn:hover,
.login-btn:focus {

    background-color: #e91e63;

}

nav .hide-small {
    display: none;
}

nav .show-small {
    display: block;
    position: relative;
}

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

.mobile-nav-bar {
    display: none;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    z-index: 2;
    background: rgba(0, 0, 0, 0.445);
    bottom: 0;
    left: 0;
    padding: 8px;
}

.mobile-nav-bar.show {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.mobile-nav-bar .title {
    display: flex;
    justify-content: space-between;
}

.mobile-nav-bar a:not(.logo) {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.mobile-nav-bar a:not(.logo):hover {
    background-color: #ffffff67;

}

.mobile-nav-bar hr {
    margin: 32px 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav .hide-small {
        display: flex;
    }

    nav .show-small {
        display: none;
    }

    .mobile-nav-bar.show {
        display: none;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}